.img-construccion{
    background: url(../img/banner/en-construccionWEB.png);
    margin-top: 70px;
    width: 100%;
    height: 1200px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-position: center;
}
@media only screen and (min-width: 320px) and (max-width: 479px){
.img-construccion{
    background: url(../img/banner/en-construccionWEB.png);
    margin-top: 70px;
    width: 100%;
    height: 1200px;
      background-size: contain;
}
}