.contenedor-llamame{
    width: 100%;
    background: rgb(113, 170, 27);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.llamame-items{
    width: 100%;
}
.llamame-items h2{
    padding: 15px;
    color: white;
}
.llamame-items input{
    padding: 15px;
    margin: 5px;
    
}
.llamame-items input[type="text"]{
    padding-right: 50px;
}
.llamame-items input[type="submit"]{
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    border: 0;
    cursor: pointer;
    background: white;
    color: rgb(113, 170, 27);
    font-weight: bold;
    font-size: 15px;
}
